<div class="container pt-4 content-creation">
    <div *ngIf="event_suggestions">
        <div>
            <label>Choose Event:</label>
        </div>
        
        <p-autoComplete 
        [(ngModel)]="event" [suggestions]="event_suggestions" 
        (completeMethod)="searchEvent($event)"
        [dropdown]="true"
        field="event_name"
        [size]="25"
        [inputStyle]="{'padding': '0.42em', 'text-transform': 'capitalize'}"
        [style]="{'text-transform': 'capitalize'}"
        (onSelect)="chooseEvent()"></p-autoComplete>
    </div>

    <div *ngIf="all_announcement">
        <div *ngIf="all_announcement.length > 0">
            <div>
                <label>Choose Announcement:</label>
            </div>
            <p-autoComplete 
            [(ngModel)]="announcement" [suggestions]="announcement_suggestions" 
            (completeMethod)="searchAnnouncement($event)"
            [dropdown]="true"
            field="title"
            [size]="25"
            [inputStyle]="{'padding': '0.42em', 'text-transform': 'capitalize'}"
            [style]="{'text-transform': 'capitalize'}"
            (onSelect)="chooseAnnouncement()"></p-autoComplete>
        </div>
    </div>

    <div *ngIf="showContentPanel">   
        <app-writer
        (clearInputChoices)="clearInputChoices()"
        [event_announcement_id]="event_announcement_id"></app-writer>
    </div>
    
</div>


