/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import '~open-iconic/font/css/open-iconic-bootstrap.css';
:root{
    --atria-primary: #1976d2;
    --navbar-height: 70px;
}
.active{
    color: var(--atria-primary) !important;
}
.head-border{
    border-left: 5px solid var(--atria-primary);
    padding-left: 16px;
}
.title-border{
    border-left: 4px solid var(--atria-primary);
    padding-left: 10px;
}
blockquote {
    padding: 10px 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee;
}
blockquote ol:last-child, blockquote p:last-child, blockquote ul:last-child {
    margin-bottom: 0;
}
.dl-abdtp-view-label {
    margin: auto 5px !important;
}