{{eventDetail | json}}
<div *ngIf="!eventSubmitted">

  <form action="announcement.php" class="event-creation-form container px-0 my-3 pb-3 card">
    <div>
      <h2 class="event-title p-3">
        EVENT CREATION</h2>
    </div>
    <br>
    <div class="container">
      <div class="form-group">
        <label class="text-capitalize" for="event_name">event name:</label>
        <input type="text" name="event_name" class="form-control" placeholder="enter event name" id="event_name" [(ngModel)]="eventDetail.event_name">
      </div>

      <div class="form-group">
        <label class="text-capitalize" for="description">description:</label>
        <textarea class="form-control" name="description" placeholder="enter description" rows="2" id="description" [(ngModel)]="eventDetail.description"></textarea>
      </div>
      <div>
        <div>Show Banner:</div>
        <div class="mb-3 mt-1">
          <div class="form-check-inline">
            <label class="form-check-label">
              <input type="radio" multiple="multiple"  class="form-check-input" name="showAsBanner" [value]=true [(ngModel)]="eventDetail.showAsBanner">YES
            </label>
          </div>
          <div class="form-check-inline">

            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="showAsBanner" [value]=false [(ngModel)]="eventDetail.showAsBanner" checked>NO
            </label>
          </div>
        </div>
      </div>
      <div class="form-group" *ngIf="eventDetail.showAsBanner===true">
        <label class="text-capitalize" for="img"></label>
        <input type="file" name="event_banner" accept="image/*" id="img" [(ngModel)]="eventDetail.event_banner">
      </div>


      <p class="text-danger">{{eventValidationMessage}}</p>
      <button type="submit" class="btn btn-primary" (click)="eventSubmit()">Submit</button>
    </div>
  </form>
</div>

<app-announcement-creation
*ngIf="eventSubmitted"
(backevent)="back($event)"
></app-announcement-creation>
