<div class="container my-4">
  <div *ngIf="event_suggestions">
    <div>
      <label>Choose Event:</label>
    </div>

    <p-autoComplete [(ngModel)]="event" [suggestions]="event_suggestions" (completeMethod)="searchEvent($event)"
      [dropdown]="true" field="event_name" [size]="25" [inputStyle]="{'padding': '0.42em', 'text-transform': 'capitalize'}"
      [style]="{'text-transform': 'capitalize'}" (onSelect)="chooseEvent()"></p-autoComplete>

    <div class="my-3" *ngIf="!event_panel">
      <button class="btn btn-sm btn-info mr-2" *ngIf="edit" (click)="editEvent()">Edit Event</button>
      <button class="btn btn-sm btn-primary" (click)="addEvent()">Add Event</button>
    </div>
  </div>

  <form *ngIf="event_panel" (ngSubmit)="eventSubmit()" style="max-width: 500px;" class="card my-3 p-2">
    <div class="form-group">
      <label for="eventName">Event Name:</label>
      <input type="text" name="event_name" [(ngModel)]="eventData.event_name" class="form-control">
    </div>

    <div class="form-group">
      <label for="description">Description:</label>
      <input type="text" name="description" [(ngModel)]="eventData.description" class="form-control">
    </div>

    <div class="form-group">
      <label>Show Banner:</label>
      <div>
        <div class="form-check-inline">
          <label class="form-check-label" for="bannerTrue">
            <input type="radio" name="showAsBanner" [(ngModel)]="eventData.showAsBanner" class="form-check-input" [value]="true">Yes
          </label>
          <label class="form-check-label" for="bannerFalse">
            <input type="radio" name="showAsBanner" [(ngModel)]="eventData.showAsBanner" class="ml-2 form-check-input"
              [value]="false">No
          </label>
        </div>
      </div>
    </div>

    <div class="form-group" *ngIf="eventData.showAsBanner">
      <input type="file" name="eventImage" (change)="setImage($event)" accept="image/*">
    </div>

    <div>
        <button class="btn btn-sm btn-primary" type="submit">
          <span *ngIf="edit">Save Changes</span> 
          <span *ngIf="!edit">Submit</span> 
        </button>
        <button class="btn btn-sm btn-danger ml-2" (click)="closePanel()">Cancel</button>
    </div>
  </form>

  <app-announcement-creation
  (updatedAnnouncements)="onUpdatedAnnouncements($event)"></app-announcement-creation>
</div>