    <div *ngFor="let event of events;">
  <div class="mb-4">
    <p-carousel easing="easeOutStrong" [headerText]="event.event_name | titlecase" [value]="event.annoucements">
      <ng-template let-annoucement pTemplate="item">
        <div class="ui-grid ui-grid-responsive" style="display: flex; flex-flow: column; justify-content: center;">
          <div class="ui-grid-row">
            <div class="ui-grid-col-12 text-center">
              <img [src]="annoucement.img" style="width: 200px;">
            </div>
          </div>
          <div class="ui-grid-row" style="text-align: center; font-size: 1.5rem; text-transform: capitalize; padding-top: 10px;">     
            <div class="ui-grid-col-12">{{annoucement.title}}</div>
          </div>        
        </div>
      </ng-template>
    </p-carousel>
</div>
</div>