.atria-navbar{           
    display: flex;
    flex-flow: column;  
    height: 100%;      
}
.top-nav{
    display: flex;
    align-items: center;
    height: var(--navbar-height);
    background: white;
    position: fixed;
    width: 100%;
    color: red;
    z-index: 1000;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
}
.pi-bars{
    font-size: 1.8em;
    padding: 1.5rem 1rem;
    cursor: pointer;    
}
.navbar-title{
    width: 130px;
}
.mask{
    width: 100%;
    height: 100%;
    position: fixed;    
    z-index: 700;
    top: 0;       
    background-color: rgba(0,0,0,.6);
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(.25,.8,.25,1);
    transition-property: background-color,visibility; 
}
.auth-btn {
    padding: 8px 10px;
    border: 1px solid rgba(0,0,0,.15);
    background: white;
    border-color: red;
    color: red;
    border-radius: 4px;
    cursor: pointer;
}

@media only screen and (min-width: 700px) {
    .mask {
        background: transparent;
    }
}