.atria-navbar{           
    display: flex;
    flex-flow: column;  
    height: 100%;      
}
.top-nav{
    display: flex;
    align-items: center;
    height: var(--navbar-height);
    background: white;
    position: fixed;
    width: 100%;
    color: red;
    z-index: 1000;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
}
.pi-bars{
    color: white;
    background-image: linear-gradient(to right top, #eb5151, #e14d4d, #d84a4a, #ce4646, #c54343);
    margin: 15px 10px;
    padding: 6px;
    border-radius: 6px;
    font-size: 1.8em;
    cursor: pointer;    
}
.pi-bars:hover{
    background-color: lightgrey;
}
.navbar-title{
    width: 130px;
    cursor: pointer;
}
.mask{
    width: 100%;
    height: 100%;
    position: fixed;    
    z-index: 700;
    top: 0;       
    background-color: rgba(0,0,0,.6);
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(.25,.8,.25,1);
    transition-property: background-color,visibility; 
}
.auth-btn {
    padding: 8px 10px;
    border: 1px solid rgba(0,0,0,.15);
    background: white;
    border-color: red;
    color: red;
    border-radius: 4px;
    cursor: pointer;
}
.social-icons {
    display: flex;
    align-items: center;
}
.social-icons-circle {
    color: white;
    padding: 10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    margin: auto 5px;
    justify-content: center;
}
.fb-bg-color {
    background: #4469a6;
}
.twitter-bg-color {
    background: #00b6ed;
}
.linkein-bg-color {
    background: #0485b2;
}


@media only screen and (min-width: 700px) {
    .mask {
        background: transparent;
    }
}