<div class="atria-navbar">
  <div class="top-nav">
      <div class="navbar-icon">
        <i class="pi pi-bars" (click)="maskedToggle()"></i>
      </div>  
      <div class="navbar-title">
        <div>{{title}}</div>
      </div> 
      <div class="mr-3" *ngIf="!isLoggedIn">
        <button class="btn btn-outline-light" (click)="login()">Sign In</button>
      </div>
      <div class="mr-3" *ngIf="isLoggedIn">
        <button class="btn btn-outline-light" (click)="logout()">Log Out</button>
      </div>
  </div>   
  <app-navbar-aside 
  [masked]="masked"
  (maskedToggle)="maskedToggle()"
  [isLoggedIn]="isLoggedIn"
  [isAnnouncer]="isAnnouncer"
  ></app-navbar-aside>
</div>

<div [ngClass]="{'mask': masked}" (click)="maskedToggle()"></div>
