.atria-navbar{           
    display: flex;
    flex-flow: column;  
    height: 100%;      
}
.top-nav{
    display: flex;
    align-items: center;
    background: #1976d2; 
    height: 80px;
    width: 100%;
    color: white;
    z-index: 500;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
}
.pi-bars{
    font-size: 2em;
    padding: 0.7em;   
    cursor: pointer;    
}
.pi-bars:hover{
    background-color: #0b63ba;
}
.navbar-icon{ 
    flex: 0.5;      
}
.navbar-title{
    font-size: 1.5em;
    font-weight: bold;   
    text-transform: uppercase;     
}
.mask{
    width: 100%;
    height: 100%;
    position: fixed;    
    z-index: 1000;
    top: 0;        
}
