<div class="aside" *ngIf="!isLoggedIn" [ngClass]="{'aside-visible': masked, 'aside-hidden': !masked}">

    <div class="separator">General</div>

    <a class="navbar-links" routerLinkActive="active" routerLink="/home" (click)="maskToggle()">
        Home
    </a>
    <a class="navbar-links" routerLinkActive="active" routerLink="/eventRegister" (click)="maskToggle()">
        Event Registration
    </a>

</div>

<div class="aside" *ngIf="isLoggedIn" [ngClass]="{'aside-visible': masked, 'aside-hidden': !masked}">

    <div class="separator">General</div>

    <a class="navbar-links" routerLinkActive="active" routerLink="/home" (click)="maskToggle()">
        Home
    </a>
    <a class="navbar-links" routerLinkActive="active" routerLink="/eventRegister" (click)="maskToggle()">
        Event Registration
    </a>


    <div class="separator" *ngIf="isAnnouncer">Announcer</div>

    <a class="navbar-links" *ngIf="isAnnouncer" routerLinkActive="active" routerLink="/registerWriters" (click)="maskToggle()">
        Register Writers
    </a>
    <a class="navbar-links" *ngIf="isAnnouncer" routerLinkActive="active" routerLink="/eventCreation" (click)="maskToggle()">
        Events/Annoucements Creation
    </a>
    <a class="navbar-links" *ngIf="isAnnouncer" routerLinkActive="active" routerLink="/approveContents" (click)="maskToggle()">
        Approval
    </a>

    <div class="separator">Content Writer</div>

    <a class="navbar-links" routerLinkActive="active" routerLink="/contentCreation" (click)="maskToggle()">
        Content Creation
    </a>
    <a class="navbar-links" routerLinkActive="active" routerLink="/sendapproval" (click)="maskToggle()">
        Send Approval
    </a>

</div>