.aside{
    width: calc(5vw + 200px);
    background: white;
    position: fixed;
    top: calc(var(--navbar-height));
    bottom: 0;
    z-index: 999; 
    border-right: 1px solid lightgrey;
    display: flex;  
    flex-flow: column;
    padding: 1.5em 1em;
    overflow-y: auto; 
}
.aside > :last-child {
    padding-bottom: 3em;
}
.aside-visible{
    transform: translateX(0px);
    transition: transform 0.5s ease;
}
.aside-hidden{    
    transform: translateX(-500px);
    transition: transform 0.5s ease;
}
.navbar-links{
    margin: 0.7rem;
    color: grey;
    cursor: pointer;
}
.separator{
    border-bottom: 1px solid lightgrey;
    width: 100%;
    margin: 1em;
    text-align: center;
    font-weight: bold;
    color: rgb(6, 40, 150);
    display: none;
}