.aside{
    width: calc(5vw + 200px);
    background: #fafafa;
    position: fixed;
    top: calc(var(--navbar-height));
    bottom: 0;
    z-index: 999; 
    border-right: 1px solid lightgrey;
    display: flex;  
    flex-flow: column;
    padding: 1em 0;
    overflow-y: auto; 
}
.aside > :last-child {
    border-bottom: 0;
}
.aside-visible{
    transform: translateX(0px);
    transition: transform 0.5s ease;
}
.aside-hidden{    
    transform: translateX(-500px);
    transition: transform 0.5s ease;
}
.navbar-links{
    color: grey;
    cursor: pointer;
    padding: 12px 0 12px 10px;
    border-bottom: 1px solid lightgrey;
}
.separator{
    border-bottom: 1px solid lightgrey;
    width: 100%;
    margin: 1em;
    text-align: center;
    font-weight: bold;
    color: rgb(6, 40, 150);
    display: none;
}