<div *ngIf="contentData">
    <div *ngIf="contentData.length > 0">
        <p-sidebar [(visible)]="display" (onHide)="hideContent()" styleClass="ui-sidebar-md" position="right">
            <div class="container-fluid">
                <h2 class="text-capitalize">{{contentData[0].title}}</h2>
                <div class="text-secondary">Posted on {{contentData[0].posted}}</div>
                <img [src]="contentData[0].image" class="img-fluid mt-2 content-image">
                <div class="my-4">{{contentData[0].description}}</div>
                <div class="d-flex">
                    <div>
                        <img [src]="profile_icon" width="50" height="50">
                    </div>
                    <div class="mt-1 ml-2">
                        <div>Written By</div>
                        <div><span class="text-primary">{{contentData[0].postedBy.name}}</span>,
                            {{contentData[0].postedBy.department}}</div>
                    </div>
                </div>
            </div>

        </p-sidebar>
    </div>
</div>