<form action="/action_page.php" class="event-creation-form container mt-4 card">
  <div class="form-group">
    <label class="text-capitalize" for="anouncement_title">anouncement_title:</label>
    <input type="text" class="form-control" id="anouncement_title">
  </div>

  <div class="form-group">
    <label class="text-capitalize" for="anouncement_description">description:</label>
    <textarea class="form-control" rows="2" id="description"></textarea>
  </div>
  <div class="form-group">
    <label class="text-capitalize" for="date_of_anouncement">date_of_anouncement:</label>
    <textarea class="form-control" rows="2" id="date_of_anouncement"></textarea>
  </div>
  <div class="form-group">
    <label class="text-capitalize" for="anouncee_detiles">anouncee_detiles:</label>
    <textarea class="form-control" rows="2" id="anouncee_detiles"></textarea>
  </div>
  
  <!--<div class="form-group" *ngIf="ShowAsBanner==='yes'">
      <label class="text-capitalize" for="img"></label>
      <input type="text" class="form-control" id="img">
    </div>-->
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
