
.login-pg{
    display: flex;
    justify-content: center;
    background-color: darkcyan;
}
.login-page{
    background-color: #fafafa;
    min-height: calc(100vh - 80px); 
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container{   
    background-color:  #fff;
    display: flex;
    box-align: center;
    box-shadow: transparent;
    border: 3px solid #f1f1f1;
    flex-flow: column; 
    width: 500px;
    position: absolute;
    justify-content: center;
    
    
}
.login-title{
    text-transform: uppercase;
    color: white;
    background-color: cadetblue;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login-title .pi{
    font-size: 80%;
    cursor: pointer;
}
.btn-secondary:disabled{
    color:whitesmoke;
}
.login-container input[type=text], .login-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    position: relative;
    padding-right: 35px;
  }
  
.container {
    padding: 16px;
}
.login-footer{
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.input-lable .fa{
    position: absolute;
    bottom: 25%;
    right: 10px;
    z-index: 1;
}
.input-lable{
    position: relative;
}

@media only screen and (max-width: 700px) {
    .login-container{
        width: 300px;
    }
}