<div class="bg-light home-page">  
  <div class="container">   
    <app-banner></app-banner>
    <app-fixed-boards
    (showcontent)="showContent($event)"
    ></app-fixed-boards>
    <hr>
    <app-board-carousel
    (showcontent)="showContent($event)"
    ></app-board-carousel>
  </div>
</div>
<div *ngIf="contents">
    <app-content-sidebar
    [contents]="contents"
    [display]="display"    
    [current_data]="contents[0]"
    (closeContent)="closeContent($event)"
    [infiniteScroll]="false"
    ></app-content-sidebar>
</div>